.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editors
.idea/
.vscode/

# Build files
CMakeCache.txt
CmakeFiles/
Makefile
build*
cmake-build-debug/
cmake_install.cmake
simulation
*/robot
simulation_autogen/
.qmake*
*.cbp
inv
fwd
